.header {
  display: flex;
  justify-content: space-between;

  margin-top: 1rem;
  margin-bottom: 2rem;

  .back_icon {
    display: flex;
    .link {
      font-size: 2rem;
      color: #010378;
      text-decoration: none;

      &:hover {
        color: black;
      }
    }
  }

  .delete_icon {
    button {
      cursor: pointer;
      background-color: #edf0fd;
      font-size: 2rem;
      color: #010378;
      border: none;

      &:hover {
        color: red;
      }
    }
  }
}

.container {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  padding: var(--padding-md) var(--padding-md);
  color: rgb(30, 41, 59);
  width: 100%;

  img {
    position: absolute;
    right: 0;
  }

  .btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    button {
      width: 100%;
      font-size: 20px;
      font-weight: 500;
      border-radius: 8px;
      border: none;
      color: white;
      background-color: #414141;
      cursor: pointer;

      &:hover {
        color: rgb(249, 249, 249);
        background-color: black;
      }
    }
  }
}
